<!-- base template that includes the navigation bar and a bit of title logic -->
<html>
	<head>
		{% if title %}
		<title>{{ title }} - microblog</title>
		{% else %}
		<title>Default title: microblog (base.html template)</title>
		{% endif %}
	</head>	
	<body>
		<div>Microblog: <a href="/index">Home</a></div>
		<hr>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{ message }} </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
